<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cropconnect">

    <application
        android:allowBackup="true"
        android:label="CropConnect"
        android:theme="@style/Theme.CropConnect">

        <activity
            android:name=".BuyerActivity"
            android:exported="false" />

        <activity
            android:name=".EditCropActivity"
            android:exported="false" />

        <activity
            android:name=".CropListActivity"
            android:exported="false" />

        <activity
            android:name=".AddCropActivity"
            android:exported="false" />

        <activity
            android:name=".FarmerActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
